body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-height: 100vh;
  min-width: 100vh;  
}
/* HOME PAGE*/

.home-cinema{
  background-image: url(../images/cinema.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  margin: 0;
  width: 100%;
  height: 100vh; 
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.title{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 30rem;
  padding: 0 10rem 0 0;
}

.title-frontpage{
  font-size: 15vh;
  font-weight: bold;
  color: #edeff2;
}
a {
  color: #00B7FF;
  text-decoration: none;
}

.button-18 {
  align-items: center;
  background-color: #edeff2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-18:hover,
.button-18:focus { 
  background-color: #16437E;
  color: #ffffff;
}

.button-18:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.button-18:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

/* MOVIES PAGE*/
.container{
  display: flex;
  flex-direction: column;
  padding: 5vh;
}
.all-movies-container{
  display: flex;
  flex-wrap: wrap;
}
.container-movies{
  width: 33%;
  padding-bottom: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container h1{
  font-size: 5vh;
  font-weight: bold;
}
.container p{
  font-size: 3vh;
}
.container a{
  font-size: 2vh;
}
.cards h4{
  padding-top: 2vh;
  font-weight: bold;
  text-align: center;
}
.cards p{
  text-align: center;
  padding: 0.5vh;
}

/* MOVIES DETAIL*/
.container-details{
  width: 50%;
  display: flex;
  align-content: center;
  padding: 5vh;
  gap: 5vh;
}
 .container-details h2, h3, h4{
  font-weight: bold;
  padding-bottom: 2vh;
 }
 .container-details h2{
  font-size: 3vh;
 }
 .container-details p{
  padding-top: 1vh;
  padding-bottom: 1vh;
 }
 .link-detail{
  padding: 5vh;
  font-size: 3vh;
 }